{% load static %}

<div class="tab-pane fade" id="withdraw" role="tabpanel" aria-labelledby="withdraw-tab">
    <div class="deposit-with-tab withdraw">
        <div class="row">
            <div class="col-xxl-4 col-xl-5">
                <div class="balance-area">
                    <div class="head-area d-flex align-items-center justify-content-between">
                        <p class="mdr">Current Balance</p>
                        <select>
                            <option value="1">BTC</option>
                            <option value="2">ETH</option>
                            <option value="3">LTC</option>
                        </select>
                    </div>
                    <h6>0.1018183873 <span>BTC</span></h6>
                    <p class="mdr">1BTC = 49,345.50 USD</p>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-7">
                <div class="right-area">
                    <h5>Withdraw BITCOIN</h5>
                    <p class="para-area">You may switch to other currencies in the Left side
                        option.</p>
                    <div class="address-bar">
                        <form action="#">
                            <div class="input-single">
                                <label>Amount</label>
                                <div class="input-area">
                                    <input type="text" placeholder="Enter Amount">
                                </div>
                            </div>
                            <div class="input-single">
                                <label>Payment Address</label>
                                <div class="input-area">
                                    <input type="text" placeholder="Enter Payment Address">
                                </div>
                            </div>
                            <span class="btn-border">
                                <a href="javascript:void(0)" class="cmn-btn">Get Start
                                    Now</a>
                            </span>
                        </form>
                    </div>
                    <div class="bottom-area">
                        <div class="single-item">
                            <h6>Transaction fee:</h6>
                            <p>Your withdrawal will also have 0.0006 BTC subtracted to cover
                                the transaction fee.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>